[submodule "Firmware/components/libriccore"]
	path = Firmware/components/libriccore
	url = git@github.com:icl-rocketry/libriccore.git
[submodule "Firmware/components/librnp"]
	path = Firmware/components/librnp
	url = git@github.com:icl-rocketry/librnp.git
[submodule "Firmware/components/librrc"]
	path = Firmware/components/librrc
	url = git@github.com:icl-rocketry/librrc.git
[submodule "Firmware/components/ArduinoJson"]
	path = Firmware/components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "Firmware/components/arduino-esp32"]
	path = Firmware/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "Firmware/lib/SparkFun_u-blox_GNSS_v3"]
	path = Firmware/lib/SparkFun_u-blox_GNSS_v3
	url = https://github.com/sparkfun/SparkFun_u-blox_GNSS_v3.git
[submodule "Firmware/lib/SdFat"]
	path = Firmware/lib/SdFat
	url = https://github.com/icl-rocketry/SdFat.git
[submodule "Firmware/lib/arduino-LoRa"]
	path = Firmware/lib/arduino-LoRa
	url = git@github.com:icl-rocketry/arduino-LoRa.git
[submodule "Firmware/components/librrp"]
	path = Firmware/components/librrp
	url = git@github.com:icl-rocketry/librrp.git
